.contentContainer{
  width:100%;
  height:86vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin:20px 0 0 0;

  .orderDescription{
    width:94%;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .secondaryDescription{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center ;
    width:94%;
  }
}

.button{
  width:150px;
  height: 50px;
  border: none;
  margin:10px;
  background: #4C5973;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


.navLink{
  align-self: flex-start;
  margin:0 0 0 50px;
  font-weight: bold;
  font-size: 18px;
  cursor:pointer;
}